<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../assets/css/cg-style.css">
    <script src="../assets/js/jquery-3.2.1.min.js"></script>

</head>
<body>
<div class="yilan-center" style="height: 480px">
    <div class="logo-top">
        <img src="../../assets/img/logo.png" alt="" height="41" width="86">
    </div>
    <h3>重置密码</h3>
    <form action="">
        <div class="input-box">
            <label for="password">密码</label>
            <input id="password" type="password" placeholder="密码">
        </div>
        <div class="input-box">
            <label for="enter-password">确认密码</label>
            <input id="enter-password" type="password" placeholder="确认密码">
        </div>
        <div class="button-box">
            <button class="button-style">重置</button>
            <button class="button-style">注册</button>
        </div>
    </form>
</div>
<footer>
    <div class="footer-box">
        <div class="footer-box-left">
            <img src="../../assets/img/logowhite.png" alt="" width="108" height="51">
            <ul>
                <li>
                    <a href="">关于我们</a>
                </li>
                <li>
                    <a href="">医学邦</a>
                </li>
                <li>
                    <a href="">仲景在线</a>
                </li>
                <li>
                    <a href="">医人e馆</a>
                </li>
                <li>
                    <a href="">健康商城</a>
                </li>
            </ul>
            <div id="horizontal-line"></div>
            <section>
                <p>广州小梭信息科技有限公司。京ICP备号XXXXXXXXXX号-X 京公网安备 XXXXXXXX</p>
            </section>
        </div>
        <div class="footer-box-right">
            <img src="../../assets/img/codesmall.png" alt="" width="147" height="147">
            <ul>
                <li>
                    <div>
                        <img class="address-img" src="../../assets/img/phone.png" alt="">
                        <span>020-88888888</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img class="address-img" src="../../assets/img/qq.png" alt="">
                        <span>8888555566</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img class="address-img" src="../../assets/img/mail.png" alt="">
                        <span>8888555566@163.com</span>
                    </div>
                </li>
                <li>
                    <div>
                        <img class="address-img" src="../../assets/img/address.png" alt="">
                        <span>广东省广州市海珠区赤岗街道456号</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script src="../assets/js/cg-sign_up.js"></script>
<script>
    $('#get-verification').on('click', function () {

    })
</script>
</html>